{% extends "doctor/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Health checks' %} &mdash; {{ block.super }}{% endblock %}

{% block doctor-content %}
	<h2>
		{% trans 'Health checks' %}
	</h2>

	<h3>
		{% trans 'Cache' %}
	</h3>

	<table class="table">
		<tbody>
			{% for cache_name, info in cache.iteritems %}
				<tr>
					<td style="width: 40%;">
						<h4>
							{{ cache_name }}
						</h4>

						{% if info.is_working %}
							<strong>{% trans 'Status:' %}</strong> {% trans 'OK' %}<br>
							<small class="muted">{{ info.message }}</small>
						{% else %}
							<div class="alert alert-error">
								<h4>{% trans 'Error' %}</h4>
								{{ info.message }}
							</div>
						{% endif %}
					</td>
					<td>
						
						<table class="table table-bordered table-condensed">
							<thead>
								<th>{% trans 'Setting' %}</th>
								<th>{% trans 'Value' %}</th>
							</thead>
							<tbody>
								{% for key, val in info.settings.iteritems %}
									<tr>
										<td><code>{{ key }}</code></td>
										<td><code>{{ val }}</code></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h3>
		{% trans 'Celery' %}
	</h3>

	{% if celery %}
		<table class="table">
			<tbody>
				<tr>
					<td style="width: 40%;">
						{% if celery.is_working %}
							<strong>{% trans 'Status:' %}</strong> {% trans 'OK' %}<br>
							<small class="muted">{{ celery.message }}</small>
						{% else %}
							<div class="alert alert-error">
								<h4>{% trans 'Error' %}</h4>
								{{ celery.message }}
							</div>
						{% endif %}
					</td>
					<td>
						
						<table class="table table-bordered table-condensed">
							<thead>
								<th>{% trans 'Setting' %}</th>
								<th>{% trans 'Value' %}</th>
							</thead>
							<tbody>
								{% for key, val in celery.settings.iteritems %}
									<tr>
										<td><code>{{ key }}</code></td>
										<td><code>{{ val }}</code></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					</td>
				</tr>
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info">
			Celery is not installed.
		</div>
	{% endif %}
{% endblock %}
